@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .containers {
    @apply container mx-auto px-6 xl:px-52 2xl:px-72;
  }
  .view {
    @apply md:containers mt-6 md:mt-12;
  }
}

body {
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: white;
}

*::-webkit-scrollbar {
  display: block;
  background: transparent;
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(37, 56, 75);
  background-color: #bbccdd;
  border-radius: 10px;
}
*::-webkit-scrollbar-corner {
  background: transparent;
}
